html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #222;
  color: white;
  align-items: center;
  padding: 20px;
  margin: 0;
  font-family: monospace;
}

canvas {
  display: block;
}

/* Contorl Id */
#controls {
  margin-bottom: 15px;
}

/* normal button  */
.normal-btn {
  background: #444;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.normal-btn:hover {
  background: #666;
}

/* ascii button */
.ascii-btn {
  background: #444;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.ascii-btn:hover {
  background: #666;
}

/* dropdown instructions  */
.dropdown-instructions {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: #333;
  display: none;
  float: left;
}

.instructions-btn {
  border: none;
  border-radius: 7px;
  padding: 5px 7px;
  font-size: 14px;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
